
body {
  background-color: #ffe7db;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color:#A45C40;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  text-align: left;
}

.logo {
  width: 24px;
  margin-right: 5px;
}

.row {
  margin: 2% 0;
}

table {
  margin: auto;
  width: 100%;
  background-color: #fffde6;
  padding: 1%;
  border-radius: 5px;
}

tr {
  height: 40px;
  
}

.table-item {
  border-bottom: 2px solid #ce7f5f;
}

button {
  background-color: #ff7f50be;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #d68d73;
  color:#75422d;
}

button:hover,
button:active,
button:focus {
box-shadow: 0 0 5px 5px #ffba85;
background-color: #ffd5c5;
}

.form-item {
  margin: 1%;
}

.form-container {
  margin: 5%;
}