
body {
  background-color: #E4B7A0;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color:#A45C40;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin:auto;
  text-align: left;
}

.logo {
  width: 24px;
  margin-right: 5px;
}

.row {
  margin: 2% 0;
}

table {
  margin: auto;
  width: 100%;
  background-color: #F6EEE0;
  padding: 1%;
  border-radius: 5px;
}

tr {
  height: 40px;
  
}

.table-item {
  border-bottom: 2px solid #A45C40;
}

button {
  background-color: #ff7f50;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #d68d73;
}

button:hover,
button:active,
button:focus {
box-shadow: 0 0 5px 5px #ffddd0;
background-color: #ffac8d;
}